  body {
    background: #0a0a0a;
    margin: 0;
    padding: 0;
  }

  .green-text {
    color: rgba(34, 197, 94, 0.4);
  }

.btn-primary
{
    display: inline-flex;
    align-items: center;
    border: 1px solid #2ecc71;
    border-radius: 8px;
    color: #000;
    text-decoration: none;
    transition: 0.3s;
    background-color: #2ecc71;
  }

  .btn-primary:hover {
    background-color: #000;
    color: #2ecc71;
}
  .btn-secondary{
    display: inline-flex;
    align-items: center;
    border: 1px solid #2ecc71;
    border-radius: 8px;
    color: #2ecc71;
    text-decoration: none;
    transition: 0.3s;
    background-color: transparent;
  }

  .btn-secondary:hover {
    background-color: #2ecc71;
    color: #000;
  }
  .btn-sm
  {
    gap: 4px;
    padding: 8px 16px;
  }
  
  .btn-md{
    gap: 8px;
    padding: 12px 20px;
  }

  .btn-lg{
    gap: 12px;
    padding: 16px 24px;
  }

  .icon-btn {
    display: flex;
    align-items: center;
}