.hero {
  position: relative;
  min-height: 40vh;
  display: flex;
  align-items: flex-start; 
  padding: 0 6%;
  color: #fff;
  overflow: hidden;
}

/* 🌌 Background imagem */
.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background: url("../assets/hero.png") center/cover no-repeat;
  z-index: -2;
}

/* 🌑 Overlay escuro */
.hero::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.85) 0%,
    rgba(0, 0, 0, 0.75) 40%,
    rgba(0, 0, 0, 0.4) 70%,
    rgba(0, 0, 0, 0.2) 100%
  );
  z-index: -1;
}

/* 📦 Conteúdo */
.hero-content {
  max-width: 600px;
  z-index: 1;
  margin-top: 30px;
  
  display: flex;
  flex-direction: column;
  gap: -51px;
}

/* 👋 Saudação */
.hero-subtitle {
  color: #22c55e;
  font-size: 1.5rem;
}

/* 🧑 Nome */
.hero-title {
  font-size: 3.5rem;
  font-weight: 700;
}

/* 💼 Cargo */
.hero-role {
  color: #22c55e;
  font-size: 1.5rem;
  margin-bottom: 20px;
}

/* 📄 Descrição */
.hero-description {
  color: #cbd5e1;
  line-height: 1.6;
  margin-bottom: 30px;
}

/* 🔘 Botões */
.hero-buttons {
  display: flex;
  gap: 16px;
  margin-bottom: 30px;
}

/* 🔗 Ícones sociais */
.hero-socials {
  display: flex;
  gap: 20px;
}

.hero-socials a {
  color: #cbd5e1;
  font-size: 1.5rem;
  transition: 0.3s;
}

.hero-socials a:hover {
  color: #22c55e;
  transform: scale(1.1);
}